body {
	background-image: url(/img/granja.jpg);
	background-size: cover;
	margin: 0;
	padding: 0;
}

header {
	background-color: black;
	color: white;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin: 10px;
}

nav a {
	color: white;
	text-decoration: none;
}

#main {
	margin: 0 auto;
	max-width: 960px;
	padding: 20px;
}

#banner {
	text-align: center;
}

#banner h1 {
	font-size: 4em;
}

button {
	background-color: white;
	border: none;
	color: black;
	padding: 10px 20px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

#content {
	float: right;
	background-color: white;
	padding: 20px;
}

footer {
	background-color: black;
	color: white;
	text-align: center;
	padding: 20px;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.image-container {
	
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  
  img {
	width: 600px;
	max-width: 100%;
	height: auto;
  }